    //imports
    @import "../../partials/utils/variables";
    @import "../../partials/utils/mixins";
    @import "~swiper/css";
    @import "~swiper/css/effect-coverflow";
    @import "~swiper/css/pagination";
    //page container parent
    .page-container-parent {
        padding-bottom: 50px;
        color: $principal-dark;
    }
    
    .a-menuAndCategories {
        text-decoration: none;
        color: $principal-white;
        &:hover {
            text-decoration: none;
            color: $principal-white;
        }
    }
    
    //navbar top
    .navbar {
        margin-top: 10px;
        height: 70px;
        z-index: $z-index-strong;
        background: $principal-white;
        background: linear-gradient(90deg, rgba(250, 250, 249, .1) 0%, rgba(250, 250, 249, .3) 32%, rgba(250, 250, 249, .2) 100%);
    }
    
    .btn-categories {
        margin-left: 20px;
        font-size: $small-text-size;
        background: $secondary-blue;
        background: linear-gradient(90deg, rgba(16, 132, 237, .1) 0%, rgba(16, 132, 237, .1) 32%, rgba(16, 132, 237, 0) 100%);
        @include button-default;
        &:hover {
            background: linear-gradient(90deg, rgba(16, 132, 237, .1) 0%, rgba(16, 132, 237, 0) 32%, rgba(16, 132, 237, .1) 100%);
        }
        &:focus {
            @include button-focus;
        }
    }
    
    .navbar-collapse {
        @include centered-bloc;
        .nav-link {
            cursor: pointer;
            margin-right: 50px;
            color: $principal-dark;
            font-size: $small-text-size;
        }
    }
    
    .navbar-brand {
        cursor: pointer;
        & .setting-icon {
            padding: 5px;
            border-radius: 50px;
            border: 1px solid $principal-white;
        }
    }
    
    //cover
    .couverture-page {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        padding: 0;
        margin: 0;
        background: $principal-transparent-cover;
        width: $full-width;
        height: $full-height;
        z-index: $z-index-strong;
        .couverture-page-row {
            margin-top: 5vh;
            width: 60%;
            text-align: center;
            cursor: pointer;
            color: $principal-white;
            font-family: $general-text-light;
            font-size: $verysmall-text-size;
            @include centered-bloc;
            .coverture-page-row_icone {
                & img {
                    border: 1px solid $principal-white;
                    border-radius: 50%;
                    padding: 10px;
                    margin-bottom: 10px;
                    &:hover {
                        height: 140px;
                    }
                }
                & .profil {
                    border: 1px solid $principal-white;
                    border-radius: 50%;
                    padding: 17px;
                    &:hover {
                        height: 150px;
                    }
                }
                & p {
                    text-align: center;
                    letter-spacing: 4px;
                }
            }
        }
        .couverture-page-categories-row {
            display: none;
            text-align: center;
            cursor: pointer;
            width: 70%;
            margin-top: 3vh;
            font-size: $verysmall-text-size;
            color: $principal-white;
            font-family: $general-text-light;
            .coverture-page-row_icone {
                & p {
                    text-align: center;
                    letter-spacing: 4px;
                }
            }
            .couverture-page-row_allCategories {
                position: fixed;
                bottom: 3vh;
                & p {
                    letter-spacing: 2px;
                    & svg {
                        margin-right: 3px;
                        margin-top: -3px;
                    }
                }
            }
        }
    }
    
    //coverage top
    .coverage-top {
        height: 90vh;
        & .coverage-top-row {
            text-align: center;
            padding: 0 30px 0 80px;
            height: $full-width;
            @include centered-bloc;
            &__left-text {
                text-align: left;
                z-index: $z-index-small;
                & h1 {
                    margin-bottom: 20px;
                    font-size: $great-title-size;
                    font-family: $general-text-bold;
                }
                & p {
                    margin-bottom: 25px;
                    font-size: $small-text-size;
                }
                & button {
                    border-radius: 15px;
                    font-size: $small-text-size;
                    background: $secondary-blue;
                    background: linear-gradient(90deg, rgba(16, 132, 237, .1) 0%, rgba(16, 132, 237, .1) 32%, rgba(16, 132, 237, 0) 100%);
                    @include button-default;
                    &:hover {
                        background: linear-gradient(90deg, rgba(16, 132, 237, .2) 0%, rgba(16, 132, 237, .2) 32%, rgba(16, 132, 237, .1) 100%);
                    }
                    &:focus {
                        @include button-focus;
                    }
                }
            }
            &__centered-image {
                margin-top: -14vh;
                margin-left: -3%;
                z-index: $z-index-little;
                height: $full-width;
                @include centered-bloc;
                & img {
                    height: 120vh;
                }
            }
            &__right-text {
                padding-left: 40px;
                text-align: left;
                z-index: $z-index-small;
                & h4 {
                    font-size: 1.5rem;
                    font-family: $general-text-bold;
                }
                & p {
                    font-size: $small-text-size;
                }
                & .learn-more {
                    cursor: pointer;
                    color: $principal-blue;
                }
            }
        }
    }
    
    //searchbar bloc
    .searchbar-bloc {
        width: 80%;
        height: 100px;
        margin-left: 10%;
        border-radius: 3px;
        z-index: $z-index-middle;
        background: $principal-white;
        background: linear-gradient(90deg, rgba(16, 132, 237, 0) 0%, rgba(16, 132, 237, 0.06) 32%, rgba(16, 132, 237, 0) 100%);
        @include centered-bloc;
        & .input-group {
            height: 80px;
            & .form-control {
                border: none;
                text-align: center;
                height: 100%;
                background: linear-gradient(90deg, rgba(250, 250, 249, .06) 0%, rgba(250, 250, 249, .6) 32%, rgba(250, 250, 249, .2) 100%);
                font-size: $middle-title-size;
                &:focus {
                    @include button-focus;
                }
            }
            & .input-group-text {
                border: none;
                cursor: pointer;
                height: 100%;
                width: 100px;
                background: linear-gradient(90deg, rgba(250, 250, 249, .2) 0%, rgba(250, 250, 249, .1) 32%, rgba(250, 250, 249, .2) 100%);
                color: $principal-blue;
                @include centered-bloc;
            }
        }
    }
    
     ::placeholder {
        color: $principal-dark;
    }
    
    //searchbar dropdown bloc
    .searchbar-dropdown-bloc {
        display: none;
        height: auto;
        overflow-x: hidden;
        overflow-y: auto;
        width: 95%;
        margin-top: 10px;
        margin-left: 2.5%;
        background: linear-gradient(90deg, rgba(16, 132, 237, .06) 0%, rgba(16, 132, 237, .06) 32%, rgba(16, 132, 237, .02) 100%);
        z-index: $z-index-middle;
        &>.row {
            padding: 20px;
            padding-top: 10px;
            padding-bottom: 10px;
            height: $full-width;
            height: $full-width;
        }
    }
    
    //events list bloc
    .events-list-bloc {
        margin-top: 30px;
        margin-left: 50px;
        margin-right: 50px;
        .one-category-bloc {
            height: 400px;
            margin-bottom: 20px;
            &__name {
                text-align: left;
                cursor: pointer;
                width: auto;
                max-width: 260px;
                height: 60px;
                width: 180px;
                padding-top: 15px;
                border-radius: 3px;
                background: linear-gradient(90deg, rgba(16, 132, 237, .1) 0%, rgba(16, 132, 237, .02) 32%, rgba(16, 132, 237, 0) 100%);
                &:hover {
                    background: linear-gradient(90deg, rgba(16, 132, 237, .07) 0%, rgba(16, 132, 237, .09) 32%, rgba(16, 132, 237, 0) 100%);
                }
                & img {
                    margin-left: -15px;
                }
                & svg {
                    margin-left: -15px;
                    color: $principal-blue;
                }
                & span {
                    margin-left: 10px;
                    margin-top: 40px;
                }
            }
        }
    }
    
    .mySwiper {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 540px;
            height: 300px;
            border-radius: 10px;
            background: linear-gradient(90deg, rgba(16, 132, 237, .01) 0%, rgba(16, 132, 237, .03) 32%, rgba(16, 132, 237, .06) 100%);
            @include centered-bloc;
            & .row {
                padding-top: 20px;
                height: $full-width;
                width: $full-width;
                & .event-image {
                    @include event-image;
                }
                & .event-image--one {
                    background-image: url('../../../assets/images/categories/coaching/Triooo_timeline51.png');
                }
                & .event-image--two {
                    background-image: url('../../../assets/images/categories/coaching/Triooo_timeline8.png');
                }
                & .event-image--three {
                    background-image: url('../../../assets/images/categories/coaching/Triooo_timeline37.png');
                }
                & .event-image--threeOne {
                    background-image: url('../../../assets/images/categories/coaching/Triooo_timeline53.png');
                }
                & .event-image--four {
                    background-image: url('../../../assets/images/categories/coaching/Triooo_timeline4.png');
                }
                & .event-image--five {
                    background-image: url('../../../assets/images/categories/coaching/Triooo_timeline43.png');
                }
                & .event-image--fiveOne {
                    background-image: url('../../../assets/images/categories/coaching/Triooo_timeline54.png');
                }
                & .event-image--six {
                    background-image: url('../../../assets/images/categories/coaching/Triooo_timeline57.png');
                }
                & .event-image--seven {
                    background-image: url('../../../assets/images/categories/coaching/Triooo_timeline6.png');
                }
                & .event-image--eight {
                    background-image: url('../../../assets/images/categories/coaching/Triooo_timeline1.png');
                }
                & .event-image--nine {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline19.png');
                }
                & .event-image--ten {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline17.png');
                }
                & .event-image--tenOne {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline14.png');
                }
                & .event-image--tenTwo {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline94.png');
                }
                & .event-image--tenThree {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline98.png');
                }
                & .event-image--eleven {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline21.png');
                }
                & .event-image--twelve {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline22.png');
                }
                & .event-image--thirteen {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline23.png');
                }
                & .event-image--fourteen {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline24.png');
                }
                & .event-image--fourteenOne {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline106.png');
                }
                & .event-image--fourteenTwo {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline107.png');
                }
                & .event-image--fifteen {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline25.png');
                }
                & .event-image--sixteen {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline26.png');
                }
                & .event-image--sixteenOne {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline97.png');
                }
                & .event-image--seventeen {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline27.png');
                }
                & .event-image--eighteen {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline29.png');
                }
                & .event-image--nineteen {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline20.png');
                }
                & .event-image--twenty {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline32.png');
                }
                & .event-image--twentyOne {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline33.png');
                }
                & .event-image--twentyTwo {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline18.png');
                }
                & .event-image--twentyThree {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline3.png');
                }
                & .event-image--twentyFour {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline7.png');
                }
                & .event-image--twentyFourOne {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline35.png');
                }
                & .event-image--twentyFive {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline30.png');
                }
                & .event-image--twentySix {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline13.png');
                }
                & .event-image--twentySixOne {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline12.png');
                }
                & .event-image--twentySixTwo {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline28.png');
                }
                & .event-image--twentySeven {
                    background-image: url('../../../assets/images/categories/humour/Triooo_timeline34.png');
                }
                & .event-image--twentyEight {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline5.png');
                }
                & .event-image--twentyNine {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline10.png');
                }
                & .event-image--thirty {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline11.png');
                }
                & .event-image--thirtyOne {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline9.png');
                }
                & .event-image--thirtyTwo {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline31.png');
                }
                & .event-image--thirtyTwoOne {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline79.png');
                }
                & .event-image--thirtyThree {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline36.png');
                }
                & .event-image--thirtyThreeOne {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline84.png');
                }
                & .event-image--thirtyThreeTwo {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline75.png');
                }
                & .event-image--thirtyFour {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline38.png');
                }
                & .event-image--thirtyFive {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline39.png');
                }
                & .event-image--thirtyFiveOne {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline76.png');
                }
                & .event-image--thirtySix {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline40.png');
                }
                & .event-image--thirtySeven {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline56.png');
                }
                & .event-image--thirtyEight {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline42.png');
                }
                & .event-image--thirtyEightOne {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline74.png');
                }
                & .event-image--thirtyEightTwo {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline88.png');
                }
                & .event-image--thirtyNine {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline44.png');
                }
                & .event-image--Fourty {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline45.png');
                }
                & .event-image--FourtyOne {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline47.png');
                }
                & .event-image--FourtyTwo {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline50.png');
                }
                & .event-image--FourtyThree {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline52.png');
                }
                & .event-image--FourtyFour {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline55.png');
                }
                & .event-image--FourtyFive {
                    background-image: url('../../../assets/images/categories/musique/Triooo_timeline41.png');
                }
            }
        }
    }
    
    .event-details {
        padding: 0;
        &-row {
            margin-top: -10px;
            height: $full-width;
            @include centered-bloc;
            &__intro {
                position: relative;
                cursor: pointer;
                z-index: 35;
                font-size: $toosmall-text-size;
                & svg {
                    margin-right: 5px;
                    color: $principal-blue;
                }
            }
            &__title {
                font-family: $general-text-bold;
            }
            &__button {
                font-size: 0.9rem;
                & button {
                    border-radius: 15px;
                    margin-top: -10px;
                    font-size: $small-text-size;
                    background: $secondary-blue;
                    background: linear-gradient(90deg, rgba(16, 132, 237, .1) 0%, rgba(16, 132, 237, .1) 32%, rgba(16, 132, 237, 0) 100%);
                    @include button-default;
                    &:hover {
                        background: linear-gradient(90deg, rgba(16, 132, 237, .2) 0%, rgba(16, 132, 237, .2) 32%, rgba(16, 132, 237, .1) 100%);
                    }
                    &:focus {
                        @include button-focus;
                    }
                }
            }
            &__nameAndContry {
                font-size: $verysmall-text-size;
            }
        }
    }
    
    //notifications bloc
    .notification-icon {
        cursor: pointer;
        position: fixed;
        left: 15px;
        bottom: 3vh;
        width: 60px;
        height: 60px;
        z-index: $z-index-middle;
        @include centered-bloc;
        &_rowcount {
            position: absolute;
            cursor: pointer;
            right: -5px;
            top: -6px;
            color: $notification-principal-color;
        }
        &_bloc {
            height: 50px;
            width: 50px;
            border-radius: 50px;
            background: $notification-principal-color;
            background: linear-gradient(90deg, rgba(250, 128, 114, .2) 0%, rgba(250, 128, 114, .2) 32%, rgba(250, 128, 114, .2) 100%);
            @include centered-bloc;
            & div {
                border-radius: 50%;
                height: 35px;
                width: 35px;
                background: $notification-principal-color;
                color: $principal-white;
                @include centered-bloc;
            }
        }
    }
    
    .notification-show-bloc {
        overflow: auto;
        position: fixed;
        top: 45vh;
        left: 27.5%;
        height: 15vh;
        width: 45%;
        z-index: $z-index-middle;
        background: $principal-white;
        background: linear-gradient(90deg, rgba(250, 250, 249, .02) 0%, rgba(250, 250, 249, .9) 32%, rgba(250, 250, 249, .02) 100%);
        display: none;
        .row {
            height: $full-width;
            width: $full-width;
            @include centered-bloc;
            .one-notication {
                padding: 0;
                margin: 0;
                border-radius: 40px;
                height: 55px;
                width: 80%;
                background: $principal-white;
                background: linear-gradient(90deg, rgba(250, 250, 249, .3) 0%, rgba(250, 250, 249, .7) 32%, rgba(250, 250, 249, .5) 100%);
                .row {
                    display: flex;
                    align-content: flex-start;
                    align-items: flex-start;
                    justify-content: flex-start;
                    margin: 0;
                    padding: 0;
                    border-radius: 40px;
                    height: $full-width;
                    width: $full-width;
                    background: $principal-blue;
                    background: linear-gradient(90deg, rgba(16, 132, 237, .02) 0%, rgba(16, 132, 237, .05) 32%, rgba(16, 132, 237, .02) 100%);
                    .notif-icon-popup {
                        padding: 0;
                        margin: 0;
                        div {
                            position: relative;
                            top: 7.5px;
                            left: 6px;
                            height: 40px;
                            width: 40px;
                            border-radius: 50px;
                            margin-right: 25px;
                            background: $notification-principal-color;
                            color: $principal-white;
                            @include centered-bloc;
                        }
                    }
                    .notif-text-popup {
                        display: flex;
                        align-items: center;
                        align-content: center;
                        justify-content: center;
                        font-weight: bold;
                        margin: 0;
                        padding: 0;
                        height: 55px;
                        padding-left: 15px;
                        font-size: $verysmall-text-size;
                    }
                    .notif-close-popup {
                        cursor: pointer;
                        margin-top: 13px;
                        margin-left: -8px;
                        svg {
                            color: $notification-principal-color;
                        }
                    }
                }
            }
        }
    }
    
    //synopsis bloc
    .synopsis-bloc {
        display: none;
        position: fixed;
        height: 70vh;
        width: 50%;
        top: 15vh;
        left: 25.5%;
        z-index: $z-index-middle;
        background: $principal-white;
        background: linear-gradient(90deg, rgba(250, 250, 249, .9) 0%, rgba(250, 250, 249, .9) 32%, rgba(250, 250, 249, .9) 100%);
        .row {
            width: $full-width;
            height: $full-width;
            .video-controls {
                padding: 0;
                margin: 0;
                @include centered-bloc;
                .video {
                    @include button-focus;
                }
            }
        }
    }
    
    //copyright
    .copyright-bloc {
        text-align: center;
        margin-top: 50px;
        font-size: $toosmall-text-size;
        svg {
            margin-right: 10px;
        }
        .bi-facebook {
            color: #4267B2;
        }
        .bi-twitter {
            color: #1DA1F2;
        }
        .bi-instagram {
            color: #cd486b;
        }
        .bi-youtube {
            color: #FF0000;
        }
        .bi-linkedin {
            color: #0077b5;
        }
        p {
            margin-top: 20px;
        }
    }