<div class="container-fluid page-container-parent">
    <!-- TRANSPARENT NAVABAR TOP -->
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
            <div class="d-flex">
                <button class="btn btn-categories"> Catégories </button>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link"> Centre d'aide </a>
                    <a class="nav-link" routerLink="/timeline"> <img src="../../../assets/favicon/Triooo_Logo_IconeA.png" height="25" alt="logo triooo"> </a>
                    <a class="nav-link"> Politique d'utilisation </a>
                </div>
            </div>
            <a class="navbar-brand">
                <img src="../../../assets/favicon/Triooo_setting_Icone.jpg" id="setting-icon" alt="setting icone" width="35">
            </a>
        </div>
    </nav>

    <!-- COVER -->
    <div class="couverture-page">
        <!-- SETTING OPTIONS -->
        <div class="row couverture-page-row" id="couverture-page-row">
            <div class="col-lg-4 coverture-page-row_icone">
                <a routerLink="#" class="a-menuAndCategories">
                    <img src="../../../assets/favicon/Triooo_closed_icone.png" height="110" alt="icone deconnexion">
                    <div>
                        <p> Déconnexion </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 coverture-page-row_icone">
                <a routerLink="/profil" class="a-menuAndCategories">
                    <img src="../../../assets/images/Triooo_assets1A.jpeg" height="130" class="profil" alt="photo profil utilisateur">
                    <div>
                        <p> Mon compte </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 coverture-page-row_icone">
                <a routerLink="#" class="a-menuAndCategories">
                    <img src="../../../assets/favicon/Triooo_setting_Icone.jpg" height="110" alt="icone paramètre">
                    <div>
                        <p> Paramètres </p>
                    </div>
                </a>
            </div>
        </div>

        <!-- DIFFERENTS CATEGORIES OPTIONS -->
        <div class="row couverture-page-row couverture-page-categories-row" id="couverture-page-categories-row">
            <div class="col-lg-3 coverture-page-row_icone">
                <a routerLink="/timeline/coaching" class="a-menuAndCategories">
                    <img src="../../../assets/favicon/Triooo_coaching.jpg" height="110" alt="icone coaching">
                    <div>
                        <p> Coaching </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 coverture-page-row_icone">
                <a routerLink="/timeline/humour" class="a-menuAndCategories">
                    <img src="../../../assets/favicon/Triooo_humor.png" height="110" alt="icone humour">
                    <div>
                        <p> Humour </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 coverture-page-row_icone">
                <a routerLink="/timeline/musique" class="a-menuAndCategories">
                    <img src="../../../assets/favicon/Triooo_music.png" height="110" alt="icone  musique">
                    <div>
                        <p> Musique </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 coverture-page-row_icone coverture-page-row_icone--returnTimeline">
                <a routerLink="/timeline" class="a-menuAndCategories">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <!-- EVENT PROFIL BLOC -->
    <div class="eventProfil-bloc">
        <div class="row">
            <div class="col-lg-8 eventBloc">
                <div class="row">
                    <div class="col-lg-6 event-image event-image--thirtyThreeOne"></div>
                    <div class="col-lg-6 event-details">
                        <div class="row event-details-row">
                            <div class="event-details-row__intro">
                                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                <span> VOIR LE SYNOPSIS </span>
                            </div>
                            <div class="event-details-row__title">
                                <h3> Souffle de vie <br> [ 10 000 F CFA ] </h3>
                            </div>
                            <div class="event-details-row__button">
                                <button class="btn"> Acheter le ticket </button>
                            </div>
                            <div class="event-details-row__nameAndContry">
                                <p>
                                    Lord Lombo, 2 janvier [ RDC ]
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 eventDescription">
                <div class="row">
                    <div class="dateAndTime">
                        <p> DIMANCHE 02 JANVIER 2022 [ 16h15 ] </p>
                    </div>
                    <div class="description">
                        <p> Le pasteur et chantre Lord Lombo vous donne rendez-vous le dimanche 02 janvier 2022 dans un concert triooo denommé SOUFFLE DE VIE. Une adoration hors du commun pour débuter l'année 2022. Pour un ticket acheté un pass internet offert
                            </p>
                    </div>
                    <div class="statut">
                        <p> <span> STATUT DE DIFFUSION : </span> Le concert sera diffusé dans 10 jours </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
