@import "../base/police";
//body size
$full-height: 100vh;
$full-width: 100%;
//body background
$register-image-background: url('../../../assets/font/Fond2C.png');
$principal-image-background: url('../../../assets/font/Fond2A.png');
$secondary-image-background: url('../../../assets/font/Fond2B.png');
$third-image-background: url('../../../assets/font/Fond4.png');
//images
$coverage-image-timeline: url('../../../assets/images/Triooo_assets1C.png');
//colors
$principal-blue: #005ED1;
$secondary-blue: #1084ED;
$principal-dark: #192432;
$principal-white: #fafaf9;
$principal-transparent-cover: linear-gradient(90deg,
rgba(25,
36,
50,
.75) 0%,
rgba(25,
36,
50,
.75) 32%,
rgba(25,
36,
50,
.75) 100%);
//text size
$great-title-size: 3rem;
$middle-title-size: 1rem;
$small-text-size: 0.9rem;
$verysmall-text-size: 0.8rem;
$toosmall-text-size: 0.7rem;
//text-police
$general-text-police: ('Nexa',
sans-serif);
$general-text-bold: ('Nexa Bold',
sans-serif);
$general-text-light: ('Nexa BolLight',
sans-serif);
//z-index 
$z-index-verystrong: 40;
$z-index-strong: 35;
$z-index-middle: 30;
$z-index-small: 20;
$z-index-little: 5;