//imports
@import "../../../partials/utils/variables";
@import "../../../partials/utils/mixins";
@import "~swiper/css";
@import "~swiper/css/effect-coverflow";
@import "~swiper/css/pagination";
//page container parent
.page-container-parent {
    color: $principal-dark;
    padding-bottom: 50px;
}

.a-menuAndCategories {
    text-decoration: none;
    color: $principal-white;
    &:hover {
        text-decoration: none;
        color: $principal-white;
    }
}

//navbar top
.navbar {
    background: $principal-white;
    margin-top: 10px;
    background: linear-gradient(90deg, rgba(250, 250, 249, .1) 0%, rgba(250, 250, 249, .3) 32%, rgba(250, 250, 249, .2) 100%);
    height: 70px;
    z-index: $z-index-strong;
}

.btn-categories {
    background: $secondary-blue;
    background: linear-gradient(90deg, rgba(16, 132, 237, .1) 0%, rgba(16, 132, 237, .1) 32%, rgba(16, 132, 237, 0) 100%);
    font-size: $small-text-size;
    margin-left: 20px;
    @include button-default;
    &:hover {
        background: linear-gradient(90deg, rgba(16, 132, 237, .1) 0%, rgba(16, 132, 237, 0) 32%, rgba(16, 132, 237, .1) 100%);
    }
    &:focus {
        @include button-focus;
    }
}

.navbar-collapse {
    @include centered-bloc;
    .nav-link {
        margin-right: 50px;
        color: $principal-dark;
        font-size: $small-text-size;
        cursor: pointer;
    }
}

.navbar-brand {
    cursor: pointer;
    & .setting-icon {
        border-radius: 50px;
        border: 1px solid $principal-white;
        padding: 5px;
    }
}

//cover
.couverture-page {
    background: $principal-transparent-cover;
    width: $full-width;
    height: $full-height;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: $z-index-strong;
    display: none;
    .couverture-page-row {
        color: $principal-white;
        font-family: $general-text-light;
        margin-top: 5vh;
        font-size: $verysmall-text-size;
        width: 60%;
        text-align: center;
        cursor: pointer;
        @include centered-bloc;
        .coverture-page-row_icone {
            & img {
                padding: 10px;
                margin-bottom: 10px;
                border-radius: 50%;
                border: 1px solid $principal-white;
                &:hover {
                    height: 140px;
                }
            }
            & .profil {
                border-radius: 50%;
                padding: 17px;
                border: 1px solid $principal-white;
                &:hover {
                    height: 150px;
                }
            }
            & p {
                letter-spacing: 4px;
                text-align: center;
            }
        }
    }
    .couverture-page-categories-row {
        color: $principal-white;
        font-family: $general-text-light;
        width: 70%;
        margin-top: 3vh;
        font-size: $verysmall-text-size;
        text-align: center;
        cursor: pointer;
        display: none;
        .coverture-page-row_icone {
            & p {
                letter-spacing: 4px;
                text-align: center;
            }
        }
        .couverture-page-row_allCategories {
            position: fixed;
            bottom: 3vh;
            & p {
                letter-spacing: 2px;
                & svg {
                    margin-right: 3px;
                    margin-top: -3px;
                }
            }
        }
    }
}

//coverage top
.coverage-top {
    height: 90vh;
    & .coverage-top-row {
        height: $full-width;
        padding: 0 30px 0 80px;
        text-align: center;
        @include centered-bloc;
        &__left-text {
            z-index: $z-index-small;
            text-align: left;
            & h1 {
                font-size: $great-title-size;
                font-family: $general-text-bold;
                margin-bottom: 20px;
            }
            & p {
                font-size: $small-text-size;
                margin-bottom: 25px;
            }
            & button {
                background: $secondary-blue;
                font-size: $small-text-size;
                border-radius: 15px;
                background: linear-gradient(90deg, rgba(16, 132, 237, .1) 0%, rgba(16, 132, 237, .1) 32%, rgba(16, 132, 237, 0) 100%);
                @include button-default;
                &:hover {
                    background: linear-gradient(90deg, rgba(16, 132, 237, .2) 0%, rgba(16, 132, 237, .2) 32%, rgba(16, 132, 237, .1) 100%);
                }
                &:focus {
                    @include button-focus;
                }
            }
        }
        &__centered-image {
            height: $full-width;
            margin-top: -14vh;
            margin-left: -3%;
            z-index: $z-index-little;
            @include centered-bloc;
            & img {
                height: 120vh;
            }
        }
        &__right-text {
            z-index: $z-index-small;
            padding-left: 40px;
            text-align: left;
            & h4 {
                font-size: 1.5rem;
                font-family: $general-text-bold;
            }
            & p {
                font-size: $small-text-size;
            }
            & .learn-more {
                color: $principal-blue;
                cursor: pointer;
            }
        }
    }
}

//searchbar bloc
.searchbar-bloc {
    background: $principal-white;
    z-index: 20;
    width: 80%;
    margin-left: 10%;
    background: linear-gradient(90deg, rgba(16, 132, 237, 0) 0%, rgba(16, 132, 237, 0.06) 32%, rgba(16, 132, 237, 0) 100%);
    height: 100px;
    border-radius: 3px;
    @include centered-bloc;
    & .input-group {
        height: 80px;
        & .form-control {
            height: 100%;
            background: linear-gradient(90deg, rgba(250, 250, 249, .2) 0%, rgba(250, 250, 249, .6) 32%, rgba(250, 250, 249, .2) 100%);
            border: none;
            font-size: 1.2rem;
            text-align: center;
            &:focus {
                border-color: #ced4da;
                border: none !important;
                outline: none !important;
                box-shadow: none !important;
            }
        }
        & .input-group-text {
            height: 100%;
            background: linear-gradient(90deg, rgba(250, 250, 249, .2) 0%, rgba(250, 250, 249, .1) 32%, rgba(250, 250, 249, .2) 100%);
            border: none;
            color: $principal-blue;
            width: 100px;
            @include centered-bloc;
            cursor: pointer;
        }
    }
}

::placeholder {
    color: $principal-dark;
    font-size: 1.1rem;
}

//events list bloc
.events-list-bloc {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    .one-category-bloc {
        height: 400px;
        margin-bottom: 20px;
        &__name {
            background: linear-gradient(90deg, rgba(16, 132, 237, .1) 0%, rgba(16, 132, 237, .02) 32%, rgba(16, 132, 237, 0) 100%);
            height: 60px;
            width: 220px;
            text-align: left;
            padding-top: 15px;
            border-radius: 3px;
            cursor: pointer;
            &:hover {
                background: linear-gradient(90deg, rgba(16, 132, 237, .07) 0%, rgba(16, 132, 237, .09) 32%, rgba(16, 132, 237, 0) 100%);
            }
            & img {
                margin-left: -15px;
            }
            & svg {
                color: $principal-blue;
                margin-left: -15px;
            }
            & span {
                margin-left: 15px;
                margin-top: 40px;
            }
        }
    }
}

.mySwiper {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 540px;
        height: 300px;
        border-radius: 10px;
        background: linear-gradient(90deg, rgba(16, 132, 237, .01) 0%, rgba(16, 132, 237, .03) 32%, rgba(16, 132, 237, .06) 100%);
        @include centered-bloc;
        & .row {
            height: $full-width;
            width: $full-width;
            padding-top: 20px;
            & .event-image {
                @include event-image;
            }
            & .event-image--twentyEight {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline5.png');
            }
            & .event-image--twentyNine {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline10.png');
            }
            & .event-image--thirty {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline11.png');
            }
            & .event-image--thirtyOne {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline9.png');
            }
            & .event-image--thirtyTwo {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline31.png');
            }
            & .event-image--thirtyTwoOne {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline79.png');
            }
            & .event-image--thirtyThree {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline36.png');
            }
            & .event-image--thirtyThreeOne {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline84.png');
            }
            & .event-image--thirtyThreeTwo {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline75.png');
            }
            & .event-image--thirtyFour {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline38.png');
            }
            & .event-image--thirtyFive {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline39.png');
            }
            & .event-image--thirtyFiveOne {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline76.png');
            }
            & .event-image--thirtySix {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline40.png');
            }
            & .event-image--thirtySeven {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline56.png');
            }
            & .event-image--thirtyEight {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline42.png');
            }
            & .event-image--thirtyEightOne {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline74.png');
            }
            & .event-image--thirtyEightTwo {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline88.png');
            }
            & .event-image--thirtyNine {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline44.png');
            }
            & .event-image--Fourty {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline45.png');
            }
            & .event-image--FourtyOne {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline47.png');
            }
            & .event-image--FourtyTwo {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline50.png');
            }
            & .event-image--FourtyThree {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline52.png');
            }
            & .event-image--FourtyFour {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline55.png');
            }
            & .event-image--FourtyFive {
                background-image: url('../../../../assets/images/categories/musique/Triooo_timeline41.png');
            }
        }
    }
}

.event-details {
    padding: 0;
    &-row {
        @include centered-bloc;
        margin-top: -10px;
        height: $full-width;
        &__intro {
            font-size: $toosmall-text-size;
            cursor: pointer;
            & svg {
                color: $principal-blue;
                margin-right: 5px;
            }
        }
        &__title {
            font-family: $general-text-bold;
        }
        &__button {
            font-size: $small-text-size;
            & button {
                background: $secondary-blue;
                background: linear-gradient(90deg, rgba(16, 132, 237, .1) 0%, rgba(16, 132, 237, .1) 32%, rgba(16, 132, 237, 0) 100%);
                font-size: $verysmall-text-size;
                @include button-default;
                border-radius: 15px;
                margin-top: -10px;
                &:hover {
                    background: linear-gradient(90deg, rgba(16, 132, 237, .2) 0%, rgba(16, 132, 237, .2) 32%, rgba(16, 132, 237, .1) 100%);
                }
                &:focus {
                    border-color: #ced4da;
                    border: none !important;
                    outline: none !important;
                    box-shadow: none !important;
                }
            }
        }
        &__nameAndContry {
            font-size: $verysmall-text-size;
        }
    }
}

//notifications bloc
.notification-icon {
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: fixed;
    left: 15px;
    bottom: 3vh;
    z-index: $z-index-middle;
    @include centered-bloc;
    &_rowcount {
        position: absolute;
        cursor: pointer;
        color: #FA8072;
        right: -5px;
        top: -6px;
    }
    &_bloc {
        height: 50px;
        width: 50px;
        border-radius: 50px;
        background: #FA8072;
        background: linear-gradient(90deg, rgba(250, 128, 114, .2) 0%, rgba(250, 128, 114, .2) 32%, rgba(250, 128, 114, .2) 100%);
        @include centered-bloc;
        & div {
            background: #FA8072;
            color: $principal-white;
            border-radius: 50%;
            height: 35px;
            width: 35px;
            @include centered-bloc;
        }
    }
}

.notification-show-bloc {
    overflow: auto;
    height: 20vh;
    width: 45%;
    position: fixed;
    top: 40vh;
    left: 27.5%;
    z-index: $z-index-verystrong;
    background: $principal-white;
    background: linear-gradient(90deg, rgba(250, 250, 249, .02) 0%, rgba(250, 250, 249, .9) 32%, rgba(250, 250, 249, .02) 100%);
    display: none;
    .row {
        height: $full-width;
        width: $full-width;
        @include centered-bloc;
        .one-notication {
            padding: 0;
            margin: 0;
            height: 55px;
            width: 80%;
            background: $principal-white;
            background: linear-gradient(90deg, rgba(250, 250, 249, .3) 0%, rgba(250, 250, 249, .7) 32%, rgba(250, 250, 249, .5) 100%);
            border-radius: 40px;
            .row {
                margin: 0;
                padding: 0;
                border-radius: 40px;
                height: $full-width;
                width: $full-width;
                background: $principal-blue;
                background: linear-gradient(90deg, rgba(16, 132, 237, .02) 0%, rgba(16, 132, 237, .05) 32%, rgba(16, 132, 237, .02) 100%);
                display: flex;
                align-content: flex-start;
                align-items: flex-start;
                justify-content: flex-start;
                .notif-icon-popup {
                    padding: 0;
                    margin: 0;
                    div {
                        position: relative;
                        top: 7.5px;
                        left: 6px;
                        height: 40px;
                        width: 40px;
                        border-radius: 50px;
                        margin-right: 25px;
                        background: #FA8072;
                        color: $principal-white;
                        @include centered-bloc;
                    }
                }
                .notif-text-popup {
                    margin: 0;
                    padding: 0;
                    height: 55px;
                    font-weight: bold;
                    padding-left: 15px;
                    display: flex;
                    align-items: center;
                    align-content: center;
                    justify-content: center;
                    font-size: $verysmall-text-size;
                }
                .notif-close-popup {
                    margin-top: 13px;
                    margin-left: -8px;
                    cursor: pointer;
                    svg {
                        color: #FA8072;
                    }
                }
            }
        }
    }
}

//copyright
.copyright-bloc {
    text-align: center;
    font-size: $toosmall-text-size;
    margin-top: 50px;
    svg {
        margin-right: 10px;
    }
    .bi-facebook {
        color: #4267B2;
    }
    .bi-twitter {
        color: #1DA1F2;
    }
    .bi-instagram {
        color: #cd486b;
    }
    .bi-youtube {
        color: #FF0000;
    }
    .bi-linkedin {
        color: #0077b5;
    }
    p {
        margin-top: 20px;
    }
}