<div class="container-fluid page-container-parent">
    <!-- TRANSPARENT NAVABAR TOP -->
    <nav class="navbar navbar-expand-lg ">
        <div class="container">
            <div class="d-flex">
                <button class="btn btn-categories"> Catégories </button>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link"> Centre d'aide </a>
                    <a class="nav-link" routerLink="/timeline"> <img src="../../../assets/favicon/Triooo_Logo_IconeA.png" height="25" alt="logo triooo"> </a>
                    <a class="nav-link"> Politique d'utilisation </a>
                </div>
            </div>
            <a class="navbar-brand">
                <img src="../../../assets/favicon/Triooo_setting_Icone.jpg" id="setting-icon" alt="setting icone" width="35">
            </a>
        </div>
    </nav>

    <!-- COVER -->
    <div class="couverture-page">
        <!-- SETTING OPTIONS -->
        <div class="row couverture-page-row" id="couverture-page-row">
            <div class="col-lg-4 coverture-page-row_icone">
                <a routerLink="#" class="a-menuAndCategories">
                    <img src="../../../assets/favicon/Triooo_closed_icone.png" height="110" alt="icone deconnexion">
                    <div>
                        <p> Déconnexion </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 coverture-page-row_icone">
                <a routerLink="/profil" class="a-menuAndCategories">
                    <img src="../../../assets/images/Triooo_assets1A.jpeg" height="130" class="profil" alt="photo profil utilisateur">
                    <div>
                        <p> Mon compte </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 coverture-page-row_icone">
                <a routerLink="#" class="a-menuAndCategories">
                    <img src="../../../assets/favicon/Triooo_setting_Icone.jpg" height="110" alt="icone paramètre">
                    <div>
                        <p> Paramètres </p>
                    </div>
                </a>
            </div>
        </div>

        <!-- DIFFERENTS CATEGORIES OPTIONS -->
        <div class="row couverture-page-row couverture-page-categories-row" id="couverture-page-categories-row">
            <div class="col-lg-3 coverture-page-row_icone">
                <a routerLink="/timeline/coaching" class="a-menuAndCategories">
                    <img src="../../../assets/favicon/Triooo_coaching.jpg" height="110" alt="icone coaching">
                    <div>
                        <p> Coaching </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 coverture-page-row_icone">
                <a routerLink="/timeline/humour" class="a-menuAndCategories">
                    <img src="../../../assets/favicon/Triooo_humor.png" height="110" alt="icone humour">
                    <div>
                        <p> Humour </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 coverture-page-row_icone">
                <a routerLink="/timeline/musique" class="a-menuAndCategories">
                    <img src="../../../assets/favicon/Triooo_music.png" height="110" alt="icone musique">
                    <div>
                        <p> Musique </p>
                    </div>
                </a>
            </div>
            <div class="col-lg-2 coverture-page-row_icone coverture-page-row_icone--returnTimeline">
                <a routerLink="/timeline" class="a-menuAndCategories">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </a>
            </div>
        </div>
    </div>

    <!-- COVERAGE AFTER NAVABAR -->
    <div class="coverage-top">
        <div class="row coverage-top-row">
            <div class="col-lg-4 coverage-top-row__left-text">
                <h1> Le Show Des Comoratiens </h1>
                <p>Regardez tous vos spectacles et évènements <br> préférés depuis chez vous. </p>
                <button class="btn"> Interessé </button>
            </div>
            <div class="col-lg-4 coverage-top-row__centered-image">
                <img src="../../../../assets/images/categories/musique/Triooo_assets3C.png" alt="image">
            </div>
            <div class="col-lg-4 coverage-top-row__right-text">
                <h4> Variété </h4>
                <p>discover trends and insights about your brand <br> and your competitions. </p>
                <p class="learn-more"> learn more
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                    </svg>
                </p>
            </div>
        </div>
    </div>

    <!-- SEARCH BAR BLOC -->
    <div class="searchbar-bloc">
        <div class="input-group">
            <input type="search" class="form-control" placeholder="Recherchez un évènement | un spectacle | une date | un artiste">
            <div class="input-group-append">
                <span class="input-group-text">
                  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                  </svg>
                </span>
            </div>
        </div>
    </div>

    <!-- EVENTS LIST BLOC -->
    <div class="events-list-bloc">


        <!-- CATEGORIE 0 -->
        <div class="one-category-bloc">
            <div class="one-category-bloc__name">
                <p>
                    <img src="../../../assets/favicon/Triooo_music.png" height="30" alt="">
                    <span> Cette semaine </span>
                </p>
            </div>

            <swiper [effect]="'coverflow'" [grabCursor]="true" [navigation]="true" [centeredSlides]="true" [slidesPerView]="'auto'" [coverflowEffect]="{
                  rotate: 0,
                  stretch: 0,
                  depth: 100,
                  modifier: 2,
                  slideShadows: false
                }" [loop]="true" class="mySwiper">
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--twentyNine"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Mon adoration <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Morijah, 12 janvier [ RDC ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirty"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Vive le syndicat <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Suspect 95, 4 janvier [ Côte D'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyThreeOne"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Souffle de vie <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Lord Lombo, 2 janvier [ RDC ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--FourtyTwo"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Ya pas cours <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Elou, 17 janvier [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyNine"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Mon immersion <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Black K, 15 janvier [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyFour"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Le show des camoratiens <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Safarel Obiang, 9 janvier [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>


        <!-- CATEGORIE 1 -->
        <div class="one-category-bloc">
            <div class="one-category-bloc__name">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                    <span> Gospel </span>
                </p>
            </div>

            <swiper [effect]="'coverflow'" [grabCursor]="true" [navigation]="true" [centeredSlides]="true" [slidesPerView]="'auto'" [coverflowEffect]="{
                  rotate: 0,
                  stretch: 0,
                  depth: 100,
                  modifier: 2,
                  slideShadows: false
                }" [loop]="true" class="mySwiper">
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyThreeOne"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Souffle de vie <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Lord Lombo, 2 janvier [ RDC ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--twentyEight"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Louanges des disciples <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        KS BLOOM, 1er février [ Côte D'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyTwoOne"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> louange au Seigneur <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Eden, 4 février [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyThreeTwo"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Digne d'être adoré <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Maria Adé, 31 janvier [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyFiveOne"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Allelouia à l'Eternel <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        O'nel Mala, 26 janvier [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyEightTwo"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Louange des aigles <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Asaph, 7 février [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--twentyNine"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Mon adoration <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Morijah, 12 janvier [ RDC ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyEightOne"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Saint-esprit vient <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Dena Mwana, 26 janvier [ RDC ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
        <!-- CATEGORIE 2 -->
        <div class="one-category-bloc">
            <div class="one-category-bloc__name">
                <p>
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                      <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                    </svg>
                    <span> Variété </span>
                </p>
            </div>

            <swiper [effect]="'coverflow'" [grabCursor]="true" [navigation]="true" [centeredSlides]="true" [slidesPerView]="'auto'" [coverflowEffect]="{
                  rotate: 0,
                  stretch: 0,
                  depth: 100,
                  modifier: 2,
                  slideShadows: false
                }" [loop]="true" class="mySwiper">
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyFour"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Le show des camoratiens <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Safarel Obiang, 9 janvier [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyFive"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Tempête musicale <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Debordo Leekunfa, 26 janvier [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirty"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Vive le syndicat <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Suspect 95, 4 janvier [ Côte D'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyOne"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> OP+T <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Serge Beynaud, 2 février [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyTwo"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Le victorieux <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Kerozen, 18 février [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtySix"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Enjaillement <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        MC One, 2 février [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtySeven"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Yee molaré <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Molare, 18 mars [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyEight"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> L'héritier <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Ariel Sheney, 21 janvier [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyNine"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Mon immersion <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Black K, 15 janvier [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--Fourty"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> La régénerescence <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Meiway, 29 Janvier [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--FourtyOne"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> La suprematie <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Kedjevara, 13 février [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--FourtyTwo"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Ya pas cours <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Elou, 17 janvier [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--FourtyThree"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Assinie <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Didi B, 14 février [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--FourtyFour"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Good vibes <br> [ 5 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Alpha Blondy, 8 mars [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--FourtyFive"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Le chevalier de DIEU <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Bebi Philippe, 19 février [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
                <ng-template swiperSlide>
                    <div class="row">
                        <div class="col-lg-5 event-image event-image--thirtyThree"></div>
                        <div class="col-lg-7 event-details">
                            <div class="row event-details-row">
                                <div class="event-details-row__intro">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-play-circle-fill" viewBox="0 0 16 16">
                                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM6.79 5.093A.5.5 0 0 0 6 5.5v5a.5.5 0 0 0 .79.407l3.5-2.5a.5.5 0 0 0 0-.814l-3.5-2.5z"/>
                                    </svg>
                                    <span> VOIR LE SYNOPSIS </span>
                                </div>
                                <div class="event-details-row__title">
                                    <h6> Voyage raggae <br> [ 10 000 F CFA ] </h6>
                                </div>
                                <div class="event-details-row__button">
                                    <button class="btn"> Interessé </button>
                                </div>
                                <div class="event-details-row__nameAndContry">
                                    <p>
                                        Tiken Jah, 12 février [ Côte d'Ivoire ]
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </swiper>
        </div>
    </div>

</div>
