@import "./app/partials/utils/variables";
@import "./app/partials/utils/mixins";
html,
body {
    height: $full-width;
}

body {
    margin: 0;
    font-family: $general-text-police;
    color: $principal-dark;
    overflow-x: hidden;
    @include background-image($register-image-background);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: $principal-blue;
    background: linear-gradient(90deg, rgba(16, 132, 237, .2) 0%, rgba(16, 132, 237, .2) 32%, rgba(16, 132, 237, .1) 100%);
}