@font-face {
    font-family: "Nexa";
    src: local("Nexa"), url(./Nexa/Nexa-Regular.otf) format("truetype");
}

@font-face {
    font-family: "Nexa Bold";
    src: local("Nexa Bold"), url(./Nexa/Nexa-bold.otf) format("truetype");
}

@font-face {
    font-family: "Nexa Light";
    src: local("Nexa Light"), url(./Nexa/Nexa-Light.otf) format("truetype");
}